@using WebApplicationProject.Models
@model LoginViewModel
@{
    Layout = null;
}

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xxl-11">
                <div class="card border-light-subtle shadow-sm">
                    <div class="row g-0">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="~/Content/assets/images/IMG_0890.JPEG" alt="Welcome back you've been missed!">
                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                            <div class="col-12 col-lg-11 col-xl-10">
                                <div class="card-body p-3 p-md-4 p-xl-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-5">
                                                <div class="text-center mb-4">
                                                    <a href="#!">
                                                        <img src="~/Content/assets/images/logo.png" alt="BootstrapBrain Logo" width="200" height="100">
                                                    </a>
                                                </div>
                                                <h4 class="text-center">Welcome back you've been missed!</h4>
                                            </div>
                                            <div class="col-12">
                                                <p class="text-center mt-4 mb-5">Log in</p>
                                            </div>
                                            <section id="loginForm">
                                                <div class="row gy-3 overflow-hidden">
                                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                    {
                                                        <div class="col-12">
                                                            <div class="form-floating mb-3">
                                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                                <label for="Email" class="form-label">Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-floating mb-3">
                                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                                <label for="Password" class="form-label">Password</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="checkbox">
                                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                                @Html.LabelFor(m => m.RememberMe)
                                                            </div>
                                                        </div>
                                                        <br /><br />
                                                        <div class="col-12">
                                                            <div class="d-grid">
                                                                <button class="btn btn-dark btn-lg" type="submit" value="Log in">Log in now</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </section>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-5">
                                                        <p>
                                                            @Html.ActionLink("Create a new account", "Register")
                                                        </p>
                                                        <p>
                                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}